{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="row">
    
        <h2>Site de l'école primaire</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, rem nobis eos autem modi debitis, sunt cupiditate, esse iusto numquam cumque. Accusantium quos, maiores unde nobis cupiditate ipsa minus laudantium odit veniam, ad nam dolore tempore quae enim labore assumenda neque cumque. Esse provident tempora magnam, laudantium reiciendis, vero mollitia sunt blanditiis dicta aliquid veritatis sint? Dolorum perspiciatis, corrupti assumenda recusandae cumque dolorem qui incidunt aut, suscipit non temporibus laborum consectetur provident maiores esse minima delectus aperiam necessitatibus amet voluptatum distinctio quaerat? Inventore totam, ea, repudiandae praesentium enim facilis fugiat vel tempore dolore voluptatem officiis modi dignissimos ipsum, a nesciunt.</p>
    
</div>
{% endblock %}
